header {
    width: 100%;
}

.links {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 3;
}

.links li {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    font-size: clamp(10px, 2vw, 16px);
    position: absolute;
}

.home {
    left: 0;
    margin-left: 5%;
    text-align: left;
}

.services {
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
}

.gallery {
    right: 0;
    margin-right: 5%;
    text-align: right;
}

.black_rectangle1 {
    position: fixed;
    width: 100%;
    background-color: black;
    min-height: 180px;
}

.section_header {
    width: 100%;
    background-color: #cdb471;
    padding-top: 180px;
    padding-bottom: 1px;;
}

.tan_bar {
    width: 100%;
    background-color: #cdb471;
    padding-top: 1px;
    padding-bottom: 1px;;
}

body, html {
    margin: 0;
    padding: 0;
}

.lawn_images {
    width: 100%;
    height: auto;
}

.logo {
    position: fixed;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    width: 150px;
    height: auto;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}

h1, h2 {
    font-family: Tahoma;
    text-align: center;
}

p {
    font-family: Tahoma;
    text-align: center;
}

.bottom_yellow {
    position: relative;
    width: 100%;
    background-color: #cdb471;
    height: auto;
    overflow: visible;
    padding-bottom: 20px;
    z-index: -1;
}

.visual_services {
    display: flex; 
    justify-content: space-between; 
    align-items: center; /* Vertically align items (optional) */
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: Tahoma;
    font-size: 2vw;
    box-sizing: border-box;
    overflow: hidden;
}
  
.visual_services li {
    flex: 1 1 0; /* Ensure each item takes up equal space */
    text-align: center; /* Center the content within each item */
    list-style-type: none; /* Remove bullet points */
    margin: 0; /* Reset margins */
    padding: 10px; /* Reset padding */
    box-sizing: border-box;
  }
  
.visual_services li img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-top: 10px;
}
  
.lawn_care, .landscaping, .snow_removal {
    width: auto;
}

.black_rectangle2 {
    width: 100%;
    background-color: black;
    min-height: 150px;
}

.areas {
    color: white;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}

a {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #cdb471;
}

a:active {
    color: #cdb471;
}

a[href^="tel"], a[href^="tel"]:hover, a[href^="tel"]:focus, a[href^="tel"]:active{
    color: inherit;
}

h3 {
    font-family: Tahoma;
    text-align: center;
}

.list_services {
    list-style-type: disc;
    padding: 0% 2%;
    margin: 0 auto 3%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.5% 1%; /* Adjust the spacing between columns and rows */
    text-align: center;
    font-family: Tahoma;
    font-size: 18px;
}

.list_services li {
    display: list-item;
    list-style-position: inside;
}

.payment_options {
    font-family: Tahoma;
    list-style-type: disc;
    font-size: 18px;
    padding-left: 10%;
}

.payment_options li {
    margin-bottom: 10px;
}

.gallery_photos {
    list-style: none;
    padding: 2% 2%;
    margin: 0 auto 5%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.5% 1%; /* Adjust the spacing between columns and rows */
    text-align: center;
}
  
  /* Style each list item */
.gallery_photos li {
    display: block;
}
  
  /* Style images */
.gallery_photos img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}